* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: lightblue;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0; 
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
